---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import previewImage from "../assets/images/Unit-1.png";
import { getCollection } from "astro:content";
const allEntriesUnit1 = await getCollection("unit-1");

---

<BaseLayout title="Unit Overview">
	<title slot="head">TEST</title>
	<Image
		src={previewImage}
		alt="gradient"
		class="preview-image"
		width={previewImage.width}
		height={previewImage.height}
	/>
	<h1>Unit Overview</h1>
	<ol class="decimal-list">
		<li>
			<p>First Unit</p>
			<ol>
				{allEntriesUnit1.map(chapter => (
					<li>
					  <a href={`/unit-1/${chapter.slug}`}>{chapter.data.title}</a>
					  <time datetime={chapter.data.pubDate.toISOString()}>
						{chapter.data.pubDate.toLocaleDateString('en-GB')}
					  </time>
					</li>
				  ))}
			</ol>
		</li>
	</ol>
</BaseLayout>

<style>
	.decimal-list ol {
		list-style-type: none;
		counter-reset: item;
	}

	.decimal-list > li,
	.decimal-list ol > li {
		display: table;
		counter-increment: item;
	}

	.decimal-list > li:before,
	.decimal-list ol > li:before {
		content: counters(item, ".") ". ";
		display: table-cell;
		padding-right: 0.6rem;
	}

	.decimal-list ol > li {
		margin: 0;
	}

	.decimal-list ol > li:before {
		content: counters(item, ".") " ";
	}
</style>
