---
import Accordion from "../components/Accordion.astro";
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allChaptersUnit1 = await (async () =>
	(await getCollection("chapters", ({ data }) => data.unit == 1)).sort(
		(a, b) => a.data.sortOrder - b.data.sortOrder,
	))();
const allChaptersUnit2 = await (async () =>
	(await getCollection("chapters", ({ data }) => data.unit == 2)).sort(
		(a, b) => a.data.sortOrder - b.data.sortOrder,
	))();
---

<BaseLayout
	title="Unit Overview"
	metaDescription="Overview of all units available. Start with Unit 1 Chapter 1."
>
	<section class="modern-container">
		<div class="unit-overview-container">
			<Hero
				title="Unit Overview"
				subText="Overview of all units and their chapters."
			/>
			<ol class="decimal-list">
				<li>
					<Accordion id={"accordion_one"} startChecked={true}>
					<h2 slot="top"><strong>Unit 1</strong></h2>
					<ol class="chapter-list">
						{
							allChaptersUnit1.map((chapter) => (
								<li>
									<a href={`/unit-1/${chapter.slug}`}>
										<div class="chapter-card-container">
											<h2 class="title-line">
												{chapter.data.title}
											</h2>
											<p style="text-decoration: none;">
												{chapter.data.description}
											</p>
										</div>
									</a>
								</li>
							))
						}
					</ol>
				</Accordion>
				</li>
				<li>
					<h2><strong>Unit 2</strong></h2>
					<ol class="chapter-list">
						{
							allChaptersUnit2.map((chapter) => (
								<li>
									<a href={`/unit-2/${chapter.slug}`}>
										{chapter.data.title}
									</a>
								</li>
							))
						}
					</ol>
				</li>
			</ol>
		</div>
	</section>
</BaseLayout>

<style>
	.chapter-card-container {
		border: 1px solid var(--color-main-3);
		border-radius: 1rem;
		padding: var(--space-s);
		margin: var(--space-xs);
		margin-left: 0;
		width: 100%;
		& .title-line {
			font-size: 1.125em;
			font-weight: normal;
			text-decoration: underline;
			text-decoration-color: var(--color-accent-1);
		}
	}
	.chapter-list a {
		color: var(--color-side-1);
		text-decoration: none;
	}
	.chapter-list {
		margin-bottom: var(--space-l);
	}
	.unit-overview-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
